{{ define "main" }}

<section id="main-container">
  <div class="max-w-4xl mx-auto prose">
    {{ .Content }}
  </div>

  <div class="py-20 px-2 max-w-2xl mx-auto">
    {{ $section := where $.Site.Pages "Section" "tablet-hersteller" }}
    <div class="flex flex-col gap-4">
      <h2 class="text-3xl text-center">Wählen Sie den Hersteller</h2>

      {{ range $section }}
      {{ if ne .Kind "section" }}
      <a class="px-4 py-2 text-gray-600 bg-gray-100 flex flex-row items-center justify-between hover:text-red-600 hover:ring hover:ring-red-500 duration-200" href="{{ .RelPermalink | relLangURL }}">
        <p class="mb-0 text-2xl font-semibold">{{ .Params.name }}</p>
        <i class="fa fa-chevron-right"></i>
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
  
  {{ partial "call-to-action" }}
</section>

{{ end }}