{{ define "main" }}

<section id="main-container">
  <div class="px-2 max-w-4xl mx-auto prose">
    <h1>Wir reparieren Ihr {{ .Params.title }}</h1>
    <p>
      Ihr Smartphone ist kaputt oder hat einen Fehler? Wir bringen Ihr <strong>{{ .Params.title }}</strong> wieder zum Laufen!<br> 
      Rufen Sie uns an unter <a href="tel:051134082318">0511-34082318</a> oder kommen Sie direkt vorbei.
    </p>
    <p>
      Eine <strong>Übersicht der häufigsten Reparaturen</strong> und Preise finden Sie weiter unten auf dieser Seite.
      Sollte ihr Problem hier nicht gelistet sein, kontaktieren Sie uns bitte. Wir können auch Ihr Problem lösen!
    </p>
  </div>

  <div class="py-20 px-2 max-w-4xl mx-auto">
    <h2 class="mb-4 text-3xl text-center">Preisübersicht</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-4">

      {{ with .Params.services.analyse }}
      {{ if .enabled }}
      <a href="#analyse" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/analyse.png" alt="Analyse">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Analyse</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="analyse">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zur Analyse</h4>
            <p>
              Vor jeder Reparatur unterziehen wir jedem Gerät zunächst einer gründlichen Analyse zur Feststellung des zu lösenden Problems. Diese ist für unsere Kunden selbstverständlich kostenlos.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.wasserschaden }}
      {{ if .enabled }}
      <a href="#wasserschaden" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/wasserschaden.png" alt="Wasserschaden">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Wasserschaden</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="wasserschaden">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zu Wasserschäden</h4>
            <p>
              Ist Ihr Handy durch Flüssigkeiten jeglicher Art beschädigt worden? Wir beheben den Schaden und bringen Ihr elektronisches "Schäfchen" ins Trockene.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.display }}
      {{ if .enabled }}
      <a href="#display" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/display.png" alt="Displayaustausch">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Displayaustausch</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="display">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Displayaustausch</h4>
            <p>
              Nicht nur innere Werte zählen. Bringen Sie Ihr Smartphone mit unserem Backcover Austausch wieder in Top-Form.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.lautsprecher }}
      {{ if .enabled }}
      <a href="#lautsprecher" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/lautsprecher.png" alt="Lautsprecher">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Lautsprecher</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="lautsprecher">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Lautsprechertausch</h4>
            <p>
              Ein stets klarer Ton gewährleistet die Qualität eines Smartphones. Wir springen gerne ein, wenn dies nicht mehr der Fall ist.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.mikrofon }}
      {{ if .enabled }}
      <a href="#mikrofon" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/mikrofon.png" alt="Mikrofon">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Mikrofon</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="mikrofon">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Mikrofonaustausch</h4>
            <p>
              Schweigen ist Gold, Reden ist Platin. Damit Sie weiterhin problemlos telefonieren können, reparieren wir Ihr Mikrofon gerne.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.hoermuschel }}
      {{ if .enabled }}
      <a href="#hoermuschel" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/hoermuschel.png" alt="Hörmuschel">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Hörmuschel</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="hoermuschel">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Hörmuschelaustausch</h4>
            <p>
              Klare Gespräche ohne Missverständnisse! Mit einer neuen Hörmuschel können Sie Ihren Gesprächspartner wieder einwandfrei verstehen.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.vorderkamera }}
      {{ if .enabled }}
      <a href="#vorderkamera" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/vorderkamera.png" alt="Vorderkamera">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Vorderkamera</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="vorderkamera">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zur Reparatur der vorderen Kamera</h4>
            <p>
              Das perfekte Selfie lässt sich nur mit einer einwandfreien Frontkamera schießen. Gerne sind wir zur Stelle, um die Reparatur an Ihrer Frontkamera durchzuführen.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.hauptkamera }}
      {{ if .enabled }}
      <a href="#hauptkamera" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/hauptkamera.png" alt="Hauptkamera">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Hauptkamera</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="hauptkamera">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zur Reparatur der Hauptkamera</h4>
            <p>
              Sollten Probleme mit der Kamera Ihres Smartphones auftreten, stehen wir Ihnen gerne mit Rat und Tat zur Seite.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.kameraglas }}
      {{ if .enabled }}
      <a href="#kameraglas" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/kameraglas.png" alt="Kameraglas">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Kameraglas</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="kameraglas">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Austausch des Kameraglas</h4>
            <p>
              Auch 200 Megapixel bringen nichts, wenn das Kameraglas zerkratzt oder zerbrochen ist. Die Reparatur geht schnell, hat aber enorme Effekte auf eine klare Sicht.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.backcover }}
      {{ if .enabled }}
      <a href="#backcover" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/backcover.png" alt="Backcover">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Backcover</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="backcover">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Austausch des Backcovers</h4>
            <p>
              Nicht nur innere Werte zählen. Bringen Sie Ihr Smartphone mit unserem Backcover Austausch wieder in Top-Form.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.rahmen }}
      {{ if .enabled }}
      <a href="#rahmen" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/rahmen.png" alt="Rahmen">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Rahmen</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="rahmen">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Austausch des Rahmens</h4>
            <p>
              Der Rahmen oder auch das Gehäuse ist nach dem Display das meist beschädigte Teil eines Smartphones. Nach einem Sturz fängt er Schäden ab und schützt das Innere. Ein neuer Rahmen sorgt für ein -wie neu- Erscheinungsbild und liefert optimalen Schutz.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.akku }}
      {{ if .enabled }}
      <a href="#akku" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/akku.png" alt="Akku">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Akku-Austausch</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="akku">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Austausch des Akkus</h4>
            <p>
              Der Akku ist das Herzstück Ihres Geräts. Gerade in den Sommer- und in den Wintermonaten sind die Lithium-Ionen temperaturbedingten Strapazen ausgesetzt.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.ladebuchse }}
      {{ if .enabled }}
      <a href="#ladebuchse" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/ladebuchse.png" alt="Ladebuchse">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Ladebuchse</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="ladebuchse">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zur Reparatur der Ladebuchse</h4>
            <p>
              Können Sie Ihren Akku nicht mehr aufladen? Das Kabel passt nicht mehr ganz rein? Sie haben einen Wackelkontakt? Wir ändern dies schnell und zum Bestpreis.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.buttons }}
      {{ if .enabled }}
      <a href="#buttons" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/buttons.png" alt="Power Button / Volume Button">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Power/Volume Buttons</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="buttons">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Austausch der Buttons</h4>
            <p>
              Haben Sie Probleme beim Einschalten Ihres Geräts? Schauen Sie bei uns gerne vorbei.
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.software_update }}
      {{ if .enabled }}
      <a href="#software_update" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-red-500 duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/software-update.png" alt="Software Update">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-red-500 duration-200">Software Update</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="software_update">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Software-Update</h4>
            <p>
              Bei Schäden an der Software helfen wir gerne weiter. Ein Neu-aufsetzen oder eine Reparatur der Geräte Software ist nicht immer einfach, jedoch kein Problem für Uns!
            </p>
            <p class="mb-6 text-center text-lg text-red-600 font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-red-600 !border !border-red-600 rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-red-600 rounded hover:!bg-gray-100">Zurück</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

<section id="call-to-action" class="container">

</section>

{{ end }}