{{ define "main" }}

<section id="main-container">
  <div class="px-2 max-w-4xl mx-auto prose">
    {{ .Content }}
  </div>

  <div class="px-2 max-w-4xl mx-auto my-16">
    <div class="flex flex-col md:flex-row items-center justify-between bg-gray-100 p-4 rounded-lg shadow">
      <div class="flex flex-col md:flex-row items-center gap-8">
        <img src="{{ .Params.contact.image }}" alt="{{ .Params.contact.name }}" class="w-32 h-32 rounded-full">
        <div>
          <h2 class="text-lg font-semibold">Unser Ansprechpartner für B2B-Kunden</h2>
          <p class="text-gray-600">{{ .Params.contact.text }}</p>
          <p class="text-gray-900 text-2xl font-bold mb-2">{{ .Params.contact.name }}</p>
          <ul>
            <li><a href="mailto:{{ .Params.contact.email }}">{{ .Params.contact.email }}</a></li>
            <li>{{ .Params.contact.phone }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {{ if .Params.contact_form }}
  <div class="my-20">
    {{ partial "contact-form.html" . }}
  </div>
  {{ end }}
</section>

{{ end }}