{{ define "main" }}

<section id="main-container">
  <div class="px-2 max-w-4xl mx-auto prose">
    {{ .Content }}
  </div>

  <div class="px-2 max-w-4xl mx-auto my-16">
    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
      {{ range .Page.Params.team }}
        <div class="bg-gray-100 p-4 rounded-lg shadow text-center">
          <div class="w-32 h-32 rounded-full overflow-hidden mb-4 mx-auto">
            <img src="{{ if .image }}{{ .image }}{{ else }}/images/team/placeholder.jpg{{ end }}" alt="{{ .name }}" class="scale-125">
          </div>
          <h2 class="text-lg font-semibold">{{ .name }}</h2>
          <p class="text-gray-600">{{ .position }}</p>
          {{ if .bio }}
            <p class="mt-2 text-gray-700">{{ .bio }}</p>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>

  {{ with .Page.Params.gallery }}
  <div class="px-2 max-w-4xl mx-auto my-16">
    <h2 class="text-2xl font-bold mb-4">Gallerie</h2>
    <div class="grid sm:grid-cols-2 gap-8">
      {{ range . }}
      <a data-fslightbox href="{{ .image }}">
        <img src="{{ .image }}" alt="{{ .alt }}" class="h-64 w-full object-cover bg-gray-50 rounded-lg shadow hover:shadow-lg transition-shadow duration-300">
      </a>
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{ if .Params.contact_form }}
  <div class="mb-20 mt-32">
    {{ partial "contact-form.html" . }}
  </div>
  {{ end }}
</section>

{{ end }}