<div class="px-4 py-16 text-center">
  <h2>🚨 Sie brauchen Hilfe?</h2>
  <p class="text-2xl font-medium">Jetzt anrufen oder kommen Sie direkt vorbei!</p>
  <div class="mt-6 flex flex-row justify-center gap-2">
    <a href="/kontakt" class="btn btn-primary text-black cd-btn">Kontakt</a>
    <a href="tel:{{ .Site.Params.phone }}" class="sm:!hidden btn btn-primary solid cd-btn">Jetzt anrufen</a>
    <a href="/anfahrt" class="!hidden sm:!block btn btn-primary solid cd-btn">Anfahrt</a>
  </div>
</div>