<!-- Footer start -->
<footer id="footer" class="footer">
	<h2 class="sr-only">Fußzeile</h2>

	<div class="container">
		<div class="mx-auto max-w-6xl flex flex-col md:flex-row gap-8 md:justify-between">
			<!--/ Start Smartphone Hersteller -->
			<div class="md:w-1/3 footer-widget md:!text-left" style="text-align: center">
				<h3 class="widget-title font-semibold">Gerätetypen</h3>
        {{ range .Site.Data.navigation.footer.device_types }}
				<div class="latest-post-items media">
					<div class="latest-post-content media-body">
						<a href="{{ .url }}" class="!text-white !text-lg hover:!text-[#bd2227]">{{ .name }}</a>
					</div>
				</div>
				{{ end }}
			</div>
			<!--/ End Smartphone Hersteller -->

			<!--/ Start Tablet Hersteller -->
			<div class="md:w-1/3 footer-widget text-center ">
				<h3 class="widget-title font-semibold">Links</h3>
        {{ range .Site.Data.navigation.footer.links }}
				<div class="latest-post-items media">
					<div class="latest-post-content media-body">
						<a href="{{ .url }}" class="!text-white !text-lg hover:!text-[#bd2227]">{{ .name }}</a>
					</div>
				</div>
				{{ end }}
			</div>
			<!--/ End Tablet Hersteller -->

			<!-- Start About us -->
			<div class="md:w-1/3 footer-widget footer-about-us md:!text-right" style="text-align: center;">
				<div class="mb-4">
					<h3 class="widget-title font-semibold">Kontaktdaten</h3>
					<p class="!text-lg">{{ .Site.Params.footer_content | markdownify }}</p>
				</div>
				<div class="mb-4">
					<h4 class="!text-lg">Addresse</h4>
					<p class="!text-lg">{{ .Site.Data.settings.address | markdownify }}</p>
				</div>
				<div class="mb-4">
					<h4 class="!text-lg">Email</h4>
					<a href="mailto:{{ .Site.Params.email }}" class="!text-lg !text-white hover:!text-[#bd2227] duration-200">{{ .Site.Data.settings.email }}</a>
				</div>
				<div class="mb-4">
					<h4 class="!text-lg">Telefon</h4>
					<a href="tel:{{ .Site.Params.phone }}" class="!text-lg !text-white hover:!text-[#bd2227] duration-200">{{ .Site.Data.settings.phone | markdownify }}</a>
				</div>
			</div>
			<!--/ End About us -->
		</div>
	</div>
</footer>
<!-- Footer end -->


<!-- Copyright start -->
<section id="copyright" class="copyright angle">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="footer-social unstyled">
					<li>
						{{ range .Site.Data.settings.social }}
						<a title="{{ .name }}" href="{{ .link | absURL }}">
							<span class="icon-pentagon wow bounceIn"><i class="fa {{.icon}}"></i></span>
						</a>
						{{ end }}
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="copyright-info">{{ .Site.Params.copyright | markdownify }}</div>
			</div>
		</div>
	</div>
</section>
<!--/ Copyright end -->

</div>