<div class="body-inner">

<!-- Header start -->
<header id="header" class="fixed-top header" role="banner">
  <a class="navbar-brand navbar-bg z-10" href="{{ .Site.BaseURL | relLangURL }}">
    <img class="img-fluid float-right !h-4/5 relative top-1" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
  </a>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="px-2.5 py-1.5 rounded-2xl navbar-toggler ml-auto border-0 text-white" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>

      <div class="collapse !visible navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          {{ range .Site.Data.navigation.main }}
            {{ if or .section .children }}
            <li class="nav-item dropdown {{ if .mobile_only }}sm:hidden{{ end }}">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ .name }}
              </a>
              <div class="dropdown-menu shadow">
                {{ if .section }}
                  {{ range where $.Site.RegularPages "Section" .section }}
                    <a class="dropdown-item" href="{{ .RelPermalink | relLangURL }}">{{ .Params.name }}</a>
                  {{ end }}
                {{ else }}
                  {{ range .children }}
                    <a class="dropdown-item" href="{{ .url | relLangURL }}">{{ .name }}</a>
                  {{ end }}
                {{ end }}
              </div>
            </li>
            {{ else }}
            <li class="nav-item {{ if .mobile_only }}sm:hidden{{ end }}">
              <a class="nav-link" href="{{ .url | relLangURL }}">{{ .name }}</a>
            </li>
            {{ end }}
          {{ end }}
          <li class="nav-item">
            <a class="nav-link !p-2" style="color: white !important;" href="/zur-reparatur">
              <span class="px-2.5 py-2 bg-[#bd2227] rounded hover:bg-[#bd2227] duration-200">Zur&nbsp;Reparatur</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!--/ Header end -->