<div class="z-20 fixed bottom-6 right-6 md:bottom-12 md:right-12">
  <div class="h-16 sm:w-16 flex flex-row items-center justify-center bg-[#25D366] rounded-full shadow-lg text-3xl">
    <a class="px-4 sm:px-0 border-r border-white sm:hidden" href="tel:{{ .Page.Data.settings.phone }}">
      <i class="fa fa-phone text-white"></i>
    </a>
    <a class="px-4 sm:px-0" target="_blank" href="https://wa.me/4951134082318?text=Hallo!%20Ich%20interessiere%20mich%20f%C3%BCr%20eine%20Smartphone-%20oder%20eine%20Tabletreparatur">
      <i class="fa fa-whatsapp text-white"></i>
    </a>
  </div>
</div>