{{ define "main" }}

{{ $data := .Params }}

<!-- Slider start -->
{{ if $data.slider.enable }}
{{ with $data.slider }}
<section id="home" class="p-0">
  <div id="main-slide" class="cd-hero">
    <ul class="cd-hero-slider">
      {{ range $index, $elements:= .slider_item }}
      {{ $imgPosition := .image_position | lower }}
      <li class="{{if eq $index 0}}selected{{end}}">
        <div class="overlay2">
          <img src="{{ .bg_image | absURL }}" alt="slider" class="object-cover" >
        </div>
        {{if eq $imgPosition "right"}}
        {{ with .image }}
        <div class="cd-half-width cd-img-container img-right">
          <img src="{{ . | absURL }}" alt="">
        </div>
        {{ end }}
        {{ end }}
        <div class="{{if .image}}cd-half-width{{else}}cd-full-width{{end}}">
          <h2 class="font-medium">{{ .title | markdownify }}</h2>
          <h3>{{ .subtitle | markdownify }}</h3>
          {{ range .buttons }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary {{.style}} cd-btn">{{ .label }}</a>
          {{ end }}
        </div>
        {{if eq $imgPosition "left"}}
        {{ with .image }}
        <div class="cd-half-width cd-img-container">
          <img src="{{ . | absURL }}" alt="">
        </div>
        {{ end }}
        {{ end }}
      </li>
      {{ end }}
    </ul>
    <!--/ cd-hero-slider -->

    <div class="cd-slider-nav">
      <nav>
        <ul>
          {{ range $index, $elements:= .slider_item }}
          <li class="{{if eq $index 0}}selected{{end}}"><a href="#0"><i class="fa {{ .navigator.icon }}"></i>
              {{ .navigator.label }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div> <!-- .cd-slider-nav -->
  </div>
  <!--/ Main slider end -->
</section>
{{ end }}
{{ end }}
<!--/ Slider end -->


<!-- Service box start -->
{{ if $data.service.enable }}
{{ with $data.service.services }}
<section id="service" class="md:py-20 service angle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading">
        {{ with .title_icon }} <span class="title-icon float-left"><i class="fa {{ . }}"></i></span> {{ end }}
        <h2 class="title">{{ .title | markdownify }} <span class="title-desc !normal-case !font-sans">{{ .subtitle | markdownify }}</span></h2>
      </div>
    </div><!-- Title row end -->

    <div class="row">
      {{ range $index,$elements:= .service_item }}
      {{ if lt $index 4}}
      <div class="col-md-3 col-sm-3">
        <div class="service-content text-center">
          <span class="service-icon icon-pentagon"><i class="fa {{ .icon }}"></i></span>
          <h3 class="font-semibold">{{ .name | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div><!-- Content row end -->
  </div>
</section>
{{ end }}
{{ end }}
<!--/ Service box end -->


<!-- Brands start -->
{{ if $data.brands_logo_slider.enable }}
{{ with $data.brands_logo_slider }}
<section id="clients" class="!pb-0 clients">
  <div class="container">
    <div class="mb-12">{{ partial "searchbar.html" . }}</div>
    <div class="row wow fadeInLeft">
      <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
        {{ range .slider_item }}
        <figure class="m-0 item client_logo">
          <a href="{{ .link | safeURL }}">
            <img src="{{ .logo | absURL }}" alt="{{ .name }}">
          </a>
        </figure>
        {{ end }}
      </div><!-- Owl carousel end -->
    </div><!-- Main row end -->
  </div>
  <!--/ Container end -->
</section>
{{ end }}
{{ end }}
<!--/ Brands end -->


<!-- Parallax 1 start -->
{{ if $data.call_to_action.enable }}
{{ with $data.call_to_action }}
<section class="my-12 md:mb-40 md:mt-12 parallax" style="background-image: url('{{ .bg_image | absURL}}');">
  <div class="parallax-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>{{ .title | markdownify }}</h2>
        <h3>{{ .subtitle | markdownify}}</h3>
        <p>
          {{ range .buttons }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary {{.style}}">{{ .label }}</a>
          {{ end }}
        </p>
      </div>
    </div>
  </div><!-- Container end -->
</section><!-- Parallax 1 end -->
{{ end }}
{{ end }}


<!--/ About start -->
{{ if $data.about.enable }}
{{ with $data.about }}
<section id="image-block" class="image-block p-0">
  <div class="grid md:grid-cols-2">
    <div class="order-last md:!order-first ts-padding"
      style="min-height:400px;background:url('{{ .bg_image | absURL }}') 50% 50% / cover no-repeat;">
    </div>
    <div class="ts-padding img-block-right">
      <div class="img-block-head text-center">
        <h2 class="mb-2">{{ .title | markdownify }}</h2>
        <h3>{{ .subtitle | markdownify }}</h3>
        <p>{{ .content | markdownify }}</p>
      </div>
      <div class="gap-30"></div>
      {{ range .about_item }}
      <div class="image-block-content !px-0">
        <span class="feature-icon float-left"><i class="fa {{ .icon }}"></i></span>
        <div class="feature-content">
          <h3>{{ .name | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--/ About end -->


<!-- Counter start -->
{{ if .Params.funfact.enable }}
<section id="funfacts" class="pt-0 md:pb-20">
  <div class="ts_counter p-0">
    <div class="container-fluid">
      <div class="row facts-wrapper text-center">
        {{ range .Params.funfact.funfact_item }}
        <div class="facts one col-md-3 col-sm-6">
          <span class="facts-icon"><i class="fa {{.icon}}"></i></span>
          <div class="facts-num">
            <span class="counter">{{ .count }}</span>
          </div>
          <h3>{{ .name | markdownify }}</h3>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!--/ Counter end -->


<!-- Send-in your device start -->
{{ if $data.send_in_your_device.enable }}
{{ with $data.send_in_your_device }}
<section id="send-in-your-device" class="p-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>{{ .title | markdownify }}</h2>
        <h3>{{ .subtitle | markdownify }}</h3>
        <p>{{ .content | markdownify }}</p>
        {{ range .buttons }}
        <a href="{{ .link | relLangURL }}" class="btn btn-primary {{.style}}">{{ .label }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- Send-in your device end -->


<!-- Contact start -->
<section id="contact-form" class="pb-32">
  {{ partial "contact-form.html" . }}
</section>
<!--/ Contact end -->

{{ end }}