{{ define "main" }}

{{ $data := .Params }}

<!-- Slider start -->
{{ if $data.slider.enable }}
{{ with $data.slider }}
<section id="home" class="p-0">
  <div id="main-slide" class="cd-hero">
    <ul class="cd-hero-slider">
      {{ range $index, $elements:= .slider_item }}
      {{ $imgPosition := .image_position | lower }}
      <li class="{{if eq $index 0}}selected{{end}}">
        <div class="overlay2">
          <img src="{{ .bg_image | absURL }}" alt="slider">
        </div>
        {{if eq $imgPosition "right"}}
        {{ with .image }}
        <div class="cd-half-width cd-img-container img-right">
          <img src="{{ . | absURL }}" alt="">
        </div>
        {{ end }}
        {{ end }}
        <div class="{{if .image}}cd-half-width{{else}}cd-full-width{{end}}">
          <h2>{{ .title | markdownify }}</h2>
          <h3>{{ .subtitle | markdownify }}</h3>
          {{ range .buttons }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary {{.style}} cd-btn">{{ .label }}</a>
          {{ end }}
        </div>
        {{if eq $imgPosition "left"}}
        {{ with .image }}
        <div class="cd-half-width cd-img-container">
          <img src="{{ . | absURL }}" alt="">
        </div>
        {{ end }}
        {{ end }}
      </li>
      {{ end }}
    </ul>
    <!--/ cd-hero-slider -->

    <div class="cd-slider-nav">
      <nav>
        <ul>
          {{ range $index, $elements:= .slider_item }}
          <li class="{{if eq $index 0}}selected{{end}}"><a href="#0"><i class="fa {{ .navigator.icon }}"></i>
              {{ .navigator.label }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div> <!-- .cd-slider-nav -->
  </div>
  <!--/ Main slider end -->
</section>
{{ end }}
{{ end }}
<!--/ Slider end -->


<!-- Service box start -->
{{ if $data.service.enable }}
{{ with $data.service.services }}
<section id="service" class="md:py-20 service angle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading">
        {{ with .title_icon }} <span class="title-icon float-left"><i class="fa {{ . }}"></i></span> {{ end }}
        <h2 class="title">{{ .title | markdownify }} <span class="title-desc !normal-case">{{ .subtitle | markdownify }}</span></h2>
      </div>
    </div><!-- Title row end -->

    <div class="row">
      {{ range $index,$elements:= .service_item }}
      {{ if lt $index 4}}
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".{{mul $index 2}}s">
        <div class="service-content text-center">
          <span class="service-icon icon-pentagon"><i class="fa {{ .icon }}"></i></span>
          <h3>{{ .name | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div><!-- Content row end -->
  </div>
</section>
{{ end }}
{{ end }}
<!--/ Service box end -->

<!-- Parallax 1 start -->
{{ if $data.call_to_action.enable }}
{{ with $data.call_to_action }}
<section class="my-12 md:my-32 md:mb-12 parallax" style="background-image: url('{{ .bg_image | absURL}}');">
  <div class="parallax-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>{{ .title | markdownify }}</h2>
        <h3>{{ .subtitle | markdownify}}</h3>
        <p>
          {{ range .buttons }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary {{.style}}">{{ .label }}</a>
          {{ end }}
        </p>
      </div>
    </div>
  </div><!-- Container end -->
</section><!-- Parallax 1 end -->
{{ end }}
{{ end }}


<!-- Brands start -->
{{ if $data.brands_logo_slider.enable }}
{{ with $data.brands_logo_slider }}
<section id="clients" class="md:mb-32 !pt-0 clients">
  <div class="container">
    <div class="row wow fadeInLeft">
      <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
        {{ range .slider_item }}
        <figure class="m-0 item client_logo">
          <a href="{{ .link | safeURL }}">
            <img src="{{ .logo | absURL }}" alt="{{ .name }}">
          </a>
        </figure>
        {{ end }}
      </div><!-- Owl carousel end -->
    </div><!-- Main row end -->
  </div>
  <!--/ Container end -->
</section>
{{ end }}
{{ end }}
<!--/ Brands end -->

<!--/ About start -->
{{ if $data.about.enable }}
{{ with $data.about }}
<section id="image-block" class="image-block p-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 ts-padding"
        style="min-height:400px;background:url('{{ .bg_image | absURL }}') 50% 50% / cover no-repeat;">
      </div>
      <div class="col-md-6 ts-padding img-block-right">
        <div class="img-block-head text-center">
          <h2 class="mb-2">{{ .title | markdownify }}</h2>
          <h3>{{ .subtitle | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
        <div class="gap-30"></div>
        {{ range .about_item }}
        <div class="image-block-content !px-0">
          <span class="feature-icon float-left"><i class="fa {{ .icon }}"></i></span>
          <div class="feature-content">
            <h3>{{ .name | markdownify }}</h3>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--/ About end -->

<!-- Counter Strat -->
{{ if $data.funfact.enable }}
<section id="funfacts" class="pt-0 md:pb-20">
  {{ partial "funfact.html" . }}
</section>
{{ end }}
<!--/ Counter end -->

<!-- Contact Strat -->
<section id="contact" class="mx-auto max-w-5xl px-4 pb-32">
  <h2 class="sr-only">Kontakt</h2>
  <div class="row">
    <div class="col-md-9">
      <h3 class="sm:hidden">Kontaktformular</h3>
      <form id="contact-form" name="contact-form" action="/kontakt-success" method="POST" netlify>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Ihr Name</label>
              <input class="form-control" name="name" id="name" placeholder="" type="text" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" name="email" id="email" placeholder="" type="email" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Nachricht</label>
          <textarea class="form-control" name="message" id="message" placeholder="" rows="10" required></textarea>
        </div>
        <div data-netlify-recaptcha="true"></div>
        <div class="text-left">
          <button class="btn btn-primary solid blank" type="submit">Abschicken</button>
        </div>
      </form>
    </div>
    <div class="col-md-3">
      <div class="contact-info text-right">
        <h3>Kontaktdaten</h3>
        <p>{{ .Content }}</p>
        <br>
        <p><i class="fa fa-home info"></i> {{ .Site.Params.address | markdownify }} </p>
        <p><i class="fa fa-phone info"></i> {{ .Site.Params.phone | markdownify }} </p>
        <p><i class="fa fa-envelope-o info"></i> {{ .Site.Params.email | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
<!--/ Contact end -->

{{ end }}