@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

dialog { display: block; }

dialog:not(:target):not([open]) { display: none; }

.prose a {
  color: #ee3b24;
}

.dropdown .dropdown-menu {
  border-radius: 12px;
}

@media only screen and (max-width: 600px) {
  .dropdown .dropdown-menu {
    max-height: 500px;
    overflow-y: scroll;
  }
}