{{ define "main" }}

<div class="hidden" data-pagefind-body data-pagefind-sort='date:{{ .Params.date.Format "2006-01-02" }}'>
  {{ .Params.manufacturer }} {{ .Params.name }}
</div>

<section id="main-container">
  <div class="px-2 max-w-4xl mx-auto prose">
    {{ with .GetPage (printf "../smartphone-hersteller/%s" .Params.manufacturer) }}
      <a href="{{ .RelPermalink }}" class="block mb-6">← Zurück zum Hersteller</a>
    {{ end }}
    {{ .Content }}
  </div>

  <div class="py-20 px-2 max-w-4xl mx-auto">
    <h2 class="mb-4 text-3xl text-center">Preisübersicht</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-4">

      {{ with .Params.services.analyse }}
      {{ if .enabled }}
      <a href="#analyse" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/analyse_smartphone.png" alt="Analyse">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Fehlerdiagnose</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="analyse">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zur Analyse</h4>
             <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-col-reverse sm:flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.display }}
      {{ if .enabled }}
      <a href="#display" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/display.png" alt="Displayaustausch">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Displayaustausch (Original)</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="display">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Displayaustausch (Original-Display)</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.displayKopie }}
      {{ if .enabled }}
      <a href="#displayKopie" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/display.png" alt="Displayaustausch">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Displayaustausch (Kopie)</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="displayKopie">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Displayaustausch (Kopie)</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.akku }}
      {{ if .enabled }}
      <a href="#akku" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/akku_smartphone.png" alt="Akku">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Akku-Austausch</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="akku">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Austausch des Akkus</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.backcover }}
      {{ if .enabled }}
      <a href="#backcover" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/backcover.png" alt="Backcover">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Backcover-Austausch</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="backcover">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Austausch des Backcovers</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.rahmen }}
      {{ if .enabled }}
      <a href="#rahmen" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/rahmen.png" alt="Gehäuse">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Gehäuse-Austausch</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="rahmen">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Austausch des Gehäuses</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.vorderkamera }}
      {{ if .enabled }}
      <a href="#vorderkamera" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/vorderkamera.png" alt="Frontkamera">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Frontkamera-Reparatur</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="vorderkamera">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zur Reparatur der Frontkamera</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.hauptkamera }}
      {{ if .enabled }}
      <a href="#hauptkamera" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/hauptkamera.png" alt="Hauptkamera">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Hauptkamera-Reparatur</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="hauptkamera">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zur Reparatur der Hauptkamera</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.kameraglas }}
      {{ if .enabled }}
      <a href="#kameraglas" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/kameraglas.png" alt="Kameraglas">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Kameraglas-Austausch</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="kameraglas">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Austausch des Kameraglas</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.ladebuchse }}
      {{ if .enabled }}
      <a href="#ladebuchse" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/ladebuchse.png" alt="Ladebuchse">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Ladebuchse-Reparatur</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="ladebuchse">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zur Reparatur der Ladebuchse</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.buttons }}
      {{ if .enabled }}
      <a href="#buttons" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/buttons.png" alt="Power Button / Volume Button">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Power/Volume Taste Reparatur</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="buttons">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Austausch der Buttons</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.lautsprecher }}
      {{ if .enabled }}
      <a href="#lautsprecher" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/lautsprecher.png" alt="Lautsprecher">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Lautsprecher-Reparatur</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="lautsprecher">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Lautsprechertausch</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.hoermuschel }}
      {{ if .enabled }}
      <a href="#hoermuschel" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/hoermuschel.png" alt="Ohrmuschel">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Ohrhörer-Reparatur</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="hoermuschel">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Tausch der Ohrmuschel</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.mikrofon }}
      {{ if .enabled }}
      <a href="#mikrofon" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/mikrofon.png" alt="Mikrofon">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Mikrofon-Austausch</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="mikrofon">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Mikrofonaustausch</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.wasserschaden }}
      {{ if .enabled }}
      <a href="#wasserschaden" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/wasserschaden_smartphone.png" alt="Wasserschaden">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Wasserschaden-Behandlung</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="wasserschaden">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zu Wasserschäden</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.software_update }}
      {{ if .enabled }}
      <a href="#software_update" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/software-update.png" alt="Software Update">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Software-Reparatur</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="software_update">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zum Software-Update</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.biometrie }}
      {{ if .enabled }}
      <a href="#biometrie" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/software-update.png" alt="Biometrie">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Biometrie-Reparatur</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="biometrie">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zur Biometrie</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.platine }}
      {{ if .enabled }}
      <a href="#platine" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/backcover.png" alt="Platinen-Reparatur">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Platinen-Reparatur</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="platine">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Infos zur Platinen-Reparatur</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}
    </div>
  </div>
  
  {{ partial "call-to-action" }}
</section>

{{ end }}