{{ define "main" }}

<div class="hidden" data-pagefind-body>
  {{ .Params.manufacturer }} {{ .Params.name }}
</div>

<section id="main-container">
  <div class="px-2 max-w-4xl mx-auto prose">
    {{ with .GetPage (printf "../konsolen-hersteller/%s" .Params.manufacturer) }}
      <a href="{{ .RelPermalink }}" class="block mb-6">← Zurück zum Hersteller</a>
    {{ end }}
    {{ .Content }}
  </div>

  <div class="py-20 px-2 max-w-4xl mx-auto">
    <h2 class="mb-4 text-3xl text-center">Preisübersicht</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-4">

      {{ with .Params.services.analyse }}
      {{ if .enabled }}
      <a href="#analyse" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/analyse.png" alt="Analyse">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Analyse</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="analyse">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zur Analyse</h4>
             <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.hdmi }}
      {{ if .enabled }}
      <a href="#hdmi" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/hdmi.png" alt="HDMI Anschluss">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">HDMI-Anschluss</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="hdmi">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zum HDMI-Anschluss</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.laufwerk }}
      {{ if .enabled }}
      <a href="#laufwerk" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/laufwerk.png" alt="Laufwerk">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Laufwerk</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="laufwerk">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zur Laufwerk Reparatur</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.ladeanschluss }}
      {{ if .enabled }}
      <a href="#ladeanschluss" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/ladeanschluss.png" alt="Ladeanschluss">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Ladeanschluss</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="ladeanschluss">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zur Ladeanschluss Reparatur</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.netzteil }}
      {{ if .enabled }}
      <a href="#netzteil" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/netzteil.png" alt="Netzteil">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Netzteil</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="netzteil">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zum Netzteil Austausch</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.reinigung }}
      {{ if .enabled }}
      <a href="#reinigung" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/reinigung.png" alt="Wartung & Reinigung">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Wartung & Reinigung</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="reinigung">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zur Wartung & Reinigung</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.wasserschaden }}
      {{ if .enabled }}
      <a href="#wasserschaden" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/wasserschaden.png" alt="Wasserschaden">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Wasserschaden</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="wasserschaden">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zur Reparatur von Wasserschäden</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.modifikationen }}
      {{ if .enabled }}
      <a href="#modifikation" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/modifikation.png" alt="Modifikationen & Upgrades">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Modifikationen & Upgrades</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="modifikation">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zu Modifikationen & Upgrades</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}

      {{ with .Params.services.controller }}
      {{ if .enabled }}
      <a href="#controller" class="group p-4 bg-gray-100 flex !flex-row-reverse md:!flex-col justify-between items-center gap-4 hover:ring hover:ring-[#bd2227] duration-200">
        <img class="w-16 h-16 object-cover" src="/images/repair/controller.png" alt="Controller">
        <div class="md:text-center">
          <h3 class="!text-lg font-bold group-hover:text-[#bd2227] duration-200">Controller</h3>
          <p class="mb-0 text-gray-600">{{ .price }}</p>
        </div>
      </a>
      <dialog id="controller">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 p-2 w-screen overflow-y-auto flex items-center justify-center">
          <div class="p-4 max-w-2xl bg-white">
            <h4>Mehr zur Controller Reparatur</h4>
            <p>
              {{ .description | markdownify }}
            </p>
            <p class="mb-6 text-center text-lg text-[#bd2227] font-semibold">
              {{ .price }}
            </p>
            <div class="flex flex-row gap-2">
              <a href="tel:051134082318" class="sm:hidden !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Jetzt Anrufen</a>
              <a href="/kontakt" class="hidden sm:block !w-full px-4 py-2 text-center bg-[#bd2227] !border !border-[#bd2227] rounded text-white hover:bg-red-700">Zum Kontakt</a>
              <a href="#!" class="!w-full px-4 py-2 text-center bg-white border border-[#bd2227] rounded hover:!bg-gray-100">Schließen</a>
            </div>
          </div>
        </div>
      </dialog>
      {{ end }}
      {{ end }}
  </div>
  
  {{ partial "call-to-action" }}
</section>

{{ end }}